.featured2{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem2{
  position: relative;
  color: rgb(253, 253, 253);
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles2{
  position: absolute;
  bottom: 20px;
  left: 20px;
}


