.homeContainer{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.checkInTitle{
  width: 1024px;
  font-size: 20px;
}

.checkOutTitle{
  width: 1024px;
  font-size: 20px;
}

.legger{
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}